<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	version="2.5" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaeehttp://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
    <security-constraint>
   		<web-resource-collection>
        	<web-resource-name>cron</web-resource-name>
        	<url-pattern>/cron/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
        	<role-name>admin</role-name>
    	</auth-constraint>
	</security-constraint>
    
    
	<!-- Cron Job servlet -->
	
	<servlet>
		<servlet-name>cronjob</servlet-name>
		<servlet-class>com.lesniak.gamerspot.servlets.FeedFetchCronJob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cronjob</servlet-name>
		<url-pattern>/cron/fetchallfeeds</url-pattern>
	</servlet-mapping>
	
	<!-- Get All servlet -->
	
	<servlet>
		<servlet-name>getall</servlet-name>
		<servlet-class>com.lesniak.gamerspot.servlets.GetAllFeeds</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getall</servlet-name>
		<url-pattern>/getall</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
	 <servlet-name>SystemServiceServlet</servlet-name>
	 <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
	 <init-param>
	  <param-name>services</param-name>
	  <param-value>com.lesniak.gamerspot.base.FeedsAPI</param-value>
	 </init-param>
	</servlet>
	<servlet-mapping>
	 <servlet-name>SystemServiceServlet</servlet-name>
	 <url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>